.login {
    @extend .m-v-l;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    transition: all .4s ease-in-out;
    height: fit-content;
    align-self: center;
   
    &:hover {
        @extend .p-m;
        border:1px solid $purple;
        border-radius: 25px;
        background-color: $light-purple;
        transform: scale(1); 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    &--wrapper__heading {
        @extend .p-b-xxl;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            width: $space-xl;
            height: $space-xl;
        }
    }
    
    &__heading {
        flex-direction: row;
        font-size: $space-m;
        font-family: $font-family;
        font-weight: 100;
        text-align: center;
    }   
        
    .login__form--input {
        @extend .m-b-l;
        display: flex;
        width: $space-superxl;
        font-family:$font-family;
        font-size: 12px; 

        &--img {
            display: flex;
            flex-direction: row;
            align-self: center;
            width: $space-ss;
            height: $space-ss;
        }
    }

    .error {
        @extend .m-b-m;
        display: flex;
        background-color: $light-red;
        

        &--msg {
            @extend .p-xs;
            font-size: 10px;
            color: $red;
        }
    }
}

@include mobile-landscape {
    .login:hover {
        transition: none;
        border: none;
        box-shadow: none;
        background-color: $white;
    }
}

