@import '../../../scss//variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;

    &--profile {
        @extend .m-h-xl;
        min-height: calc(100vh - 220px - 120px);
        height: fit-content;    
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
    }
}

@include mobile-large {
    .wrapper--profile {
        margin-left: $space-s;
    }
}