@import "../../../scss/variables.scss";

input[type=text],
input[type=password],
input[type=email]
 {
    width: 95%;
    border: none;
    outline: none;
    border-bottom: 1px solid $gray;
    background: transparent;
    font-family: $font-family;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}

input[type=email]:invalid {
    color: $red;
}

input[type=email]:valid {
    color: $green;
}

@include mobile-large {
    input[type=text],
    input[type=password],
    input[type=email] {
        font-size: 14px;
    } 
}

