@import '../../../scss/variables.scss';

.profile__wrapper {
    background-color: $light-purple;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: $space-ss;
    display: flex;
    flex-direction: row;
    height: 90vh;
    min-width: 280px;

    &--edit {
        @extend .m-s;
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.1); 
        }
    }
        
    &--basic {
        @extend .p-l-xxl, .p-r-xl;
        display: flex;
        flex-direction: column;
        align-self: center;

        &--img{
            height: $space-xxxxxxl;
            width: $space-xxxxxxl;
            border-radius: 50%;
            border: $space-xs solid $white;
        }
        &--name {
            @extend .m-v-s;
            font-family: $font-family;
            font-weight: 500;
            font-size: $space-ss;
            flex-direction: column;
            text-align: center;
            
        }

        &--job {
            font-weight: 500;
            font-family: $font-family;
            font-size: $space-s;
            color: $dark-purple;
            flex-direction: column;
            text-align: center;
        }
    }

    &--line{
        @extend .m-v-xxl;
        width: 2px;
        background-color: $dark-purple;
    }

    &--info {
        @extend .m-l-ss, .p-l;
        display: flex;
        flex-direction: column;

        &--title {
            @extend .p-v-s;
            flex-direction: column;
            font-style: italic;
            font-weight: 600;
            font-family: $font-family;
            font-size: 24px;
        }
        
        &--about {
            @extend .m-b-xxl;
            flex-direction: column;
            font-size: 24px;
            font-family: $font-family;
            font-style: italic;
        }

        &--email {
            @extend .m-b-ss;
            display: flex;
            float: left;
            font-style: italic;
            font-size: 18px;

            &--img {
                @extend .m-r-s;
                height: $space-m;
                width: $space-m;
            }
        }

        &--location {
            display: flex;
            float: left;
            font-style: italic;
            font-size: 18px;
            font-weight: 500;

            &--img {
                @extend .m-r-s;
            }
        }
    }
}

@include tablet-landscape {
    .profile__wrapper {
        &--basic {
            padding:0  $space-s;

            &--name {
                font-size: $space-s;
            }
        }

        &--info {
            padding: $space-xs;

            &--title {
                padding: $space-xs;
                font-size: $space-s;
            }

            &--about {
                margin-bottom: $space-xl;
                font-size: $space-s;
            }

            &--email {
                font-size: 16px;

                &--img {
                    height: $space-ss;
                    width: $space-ss;
                }
            }

            &--location {
                font-size: 16px;
            }
        }
    }
}

@include tablet-portrait {
    .profile__wrapper {
        flex-direction: column;
        height: fit-content;

        &--basic--img {
            margin-top: $space-m;
            height: $space-xxxxxl;
            width: $space-xxxxxl;  
        }

        &--line {
            margin: $space-l 0 $space-xs;
            width: 70%;
            height: 1px;
            align-self: center;
        }

        &--info {
            padding: 0;

            &--title {
                font-size: 18px;
            }
            &--about{
                font-size: 18px;
                margin-right: $space-s;
            }
        }
    }
}

@include mobile-large {
    .profile__wrapper{
        width: 90vw;

        &--info {
            &--title {
                font-size: 18px;
            }
        }
    }
}
