@import '../../../scss/variables.scss';

.footer {
    @extend .m-t-xl;
    display: flex;
    width: 100vw;
    height: $space-xxxxl;
    background-color: $black;
    justify-content: center;
    flex-direction: column;

    &__logo--wrapper {
        align-self: center;

        &--img { 
            width: $space-l;
            height: $space-l;
        }
    
    }
    &__wrapper--text {
        align-self: center;
        color: $white;
        font-size: $space-xs;
        font-weight: 300; 
    }
}