@import '../../../scss/variables.scss';

.employee {
    @extend .m-h-xxl, .m-b-l, .p-h-s;
    display: flex;
    float: left;

    &__wrapper {
        @extend .p-m;


        display: flex;
        flex-direction: column;
        background-color: $white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: $space-xxxxxxxl;
        height: $space-supersize;
        border-radius: $space-ss;
        transition: all .2s ease-in-out; 
        justify-content: space-between;
        
            &:hover {
                background-color: $light-purple;
                transform: scale(1.045); 
                box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.2);
            }
        &--img {
            display: flex;
            justify-content: center;
            transition: all .2s ease-in-out;

                &:hover {
                    transform: scale(1.10); 
                }

                &--profile {
                    border-radius: 50%;
                    width: $space-xxxxl;
                    height: $space-xxxxl;
                }
        }
    
        &--text {
            text-align: center;
            font-weight: 500;

            &--title {
                color: $dark-purple;
                font-weight: 400;
            }
        }

        &--about {
            @extend .m-b-ss;
            @extend .m-t-s;
            min-height: $space-xxxxxxl;
        }

        &--email {
            display: flex;
            float: left;

            &--img {
                @extend .m-r-s;
            }
        }
    }
}

@include desktop-xl {
    .employee {
        margin-left: 9rem;
        .employee__wrapper {
            width: 25vw;
        }
    }
}
// @include desktop-m {
//     .employee {
//         // margin-left: $space-xxl;
//         float: none;
//         color: red;
//         .employee__wrapper {
//             width: 60vw;
//         }
//     }
// }

@include tablet-landscape {
    .employee {
        float: none;
        .employee__wrapper {
            width: 80vw;
        }
    }
}

@include mobile-large {
    .employee {
        .employee__wrapper {
            padding: $space-s;
            width: 80vw;

            &--about {
                margin: $space-xs 0;
            }

            &--email {
                font-size: 14px;
            }
        }
    }
}

@include mobile-small {
    .employee {
        margin: 0 0 $space-s $space-s;

        .employee__wrapper {
            padding: $space-xs;
        }
    }
}