@import '../../../scss/variables.scss';

.profile {
    @extend .m-t-xs, .m-l-xl;
    width:100%;
    display: flex;
    flex-direction: column;

    &__photo {
        border-radius: 50%;
    }

    &__text--upload {
        @extend .m-b-ss;
        font-size: $space-xs;
        font-style: italic;
        font-weight: 500;
        font-family: $font-family;
    }

    .float {
        @extend .m-t-xs;
        &__wrapper &--label {
            transform: translate(0, 1px) scale(.75);
            color: $beige;
        }
        
        &__wrapper {
            @extend .p-b-ss, .m-t-xxs,.p-h-xs;
            width: 80%;
            position: relative;
        
            &--label {
                font-style: italic;
                position: absolute;
                font-size: 14px;
                font-family: $font-family;
                transform: translate(0, 1px) scale(.8);
                transform-origin: top left;
                transition: all .3s ease-in-out;
            }
        
            &--label_floating {
                @extend .m-v-xxs;
                position: absolute;
                font-size: 18px;
                font-style: italic;
                transform: translate(0, 3px) scale(.8);
                transform-origin: top left;
                transition: all .3s ease-in-out;
                bottom: $space-mm;
            }

            .textarea {
                font-style: italic;
                min-height: $space-m;
                font-family: $font-family;
                font-size: 12px;
                min-width: 95%;
                outline-color: $dark-green;
            }
        }
    }
}

@include tablet-portrait {
    .profile {
        margin-left: $space-m;
    }
}

@include mobile-large {
    .profile {
        margin-left: $space-ss;

        &__text--upload {
            margin-bottom: $space-xs;
        }
        .float__wrapper {
            padding-bottom: $space-ss;

            &--label_floating {
                font-size: 14px;
                bottom: $space-m;
            }
        }
    }
}

@include mobile-small {
   .profile{
       .float__wrapper{
           padding-bottom: $space-s;
       }
   } 
}