@import '../../../scss/variables.scss';

.header {
    @extend .p-t-s;
    display: flex;
    width: 100%;
    height: $space-xxl;

    &__logo--wrapper{ 
        flex: 1;

        &--img {
            @extend .p-l-s;
            width: $space-l;
            height: $space-l;
            cursor: pointer;
        }
    }
    
    &__logo--profile, &__logo--create {
        @extend .p-r-s;
        width: $space-m;
        height: $space-m;
        cursor: pointer;
        overflow: hidden;
        transition: all .2s ease-in-out; 
    
        &:hover {
            transform: scale(1.045); 
        }    
    }
    
    &__logo--logout {
        @extend .m-r-s;
        width: $space-m;
        height: $space-m;
        cursor: pointer;
        overflow: hidden;
        transition: transform .5s ease;
    
        &:hover {
             transform: scale(1.045);
        } 
    }
}
                  


