$sizes: (
  "xxs": $space-xxs,
  "xs": $space-xs,
  "s": $space-s,
  "ss": $space-ss,
  "m": $space-m,
  "mm": $space-mm,
  "l": $space-l,
  "xl": $space-xl,
  "xxl": $space-xxl,
  "xxxl": $space-xxxl,
  "xxxxl": $space-xxxxl,
  "xxxxxl": $space-xxxxxl,
  "xxxxxxl": $space-xxxxxxl,
  "xxxxxxxl": $space-xxxxxxxl,
  "superxl": $space-superxl,
  "supersize": $space-supersize
);

//Paddings 
@each $key, $value in $sizes{

    //All
    .p-#{$key} {
        padding: $value;
    }

    //Padding Verticaly
    .p-v-#{$key}{
        padding-top: $value;
        padding-bottom: $value;
    }

    //Padding Horizontaly
    .p-h-#{$key}{
        padding-left: $value;
        padding-right: $value;
    }

    // Top
    .p-t-#{$key} {
        padding-top: $value;
    }

    // Bottom
    .p-b-#{$key} {
        padding-bottom: $value;
    }

    // Left
    .p-l-#{$key} {
        padding-left: $value;
    }

    // Right
    .p-r-#{$key} {
        padding-right: $value;
    }
}

// Margin
@each $key, $value in $sizes {
    // All
    .m-#{$key} {
      margin: $value;
    }
  
    // Vertical axis
    .m-v-#{$key} {
      margin-top: $value;
      margin-bottom: $value;
    }
  
    // Horizontal axis
    .m-h-#{$key} {
      margin-left: $value;
      margin-right: $value;
    }
  
    // Top
    .m-t-#{$key} {
      margin-top: $value;
    }
  
    // Bottom
    .m-b-#{$key} {
      margin-bottom: $value;
    }
  
    // Left
    .m-l-#{$key} {
      margin-left: $value;
    }
  
    // Right
    .m-r-#{$key} {
      margin-right: $value;
    }
  }
  
