@import './variables.scss';

@mixin mobile-small {
  @media (max-width: #{$bp-mobile-small - 1px}) {
    @content;
  }
}

@mixin mobile-large {
    @media (max-width: #{$bp-mobile-large - 1px}) {
      @content;
    }
  }
  
  @mixin mobile-landscape {
    @media (max-width: #{$bp-tablet-portrait - 1px}) {
      @content;
    }
  }
  
  @mixin tablet-portrait {
    @media (max-width: #{$bp-tablet-landscape - 1px}) { 
      @content;
    }
  }
  
  @mixin tablet-landscape {
    @media (max-width: #{$bp-desktop - 1px}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (max-width: #{$bp-desktop-m - 1px}) {
      @content;
    }
  }

  @mixin desktop-m {
    @media (max-width: #{$bp-desktop-l - 1px}) {
      @content;
    }
  }

  @mixin desktop-l {
    @media (max-width: #{$bp-desktop-l - 1px}) {
      @content;
    }
  }

  @mixin desktop-xl {
    @media (max-width: #{$bp-desktop-xl - 1px}) {
      @content;
    }
  }

  @mixin custom {
    @media (max-width: #{$bp-custom - 1px }) {
      @content;
    }
  }
  
  @mixin custom-1 {
    @media (max-width: #{$bp-custom-1 - 1px }) {
      @content
    }
  }
