// Colors
$white: #FFFFFF;
$beige:  #979191;
$light-gray: #F9F9F9;
$gray: #454444; 
$disabled: #a8a8a8;
$light-purple: #F4F4FA;
$light-red: #fdf2f2;
$red: #b20000;
$dark-red: #4c0000;
$green: #00cc00;
$dark-green: #006600;
$blue: #495BFF;
$purple: #8808E0;
$dark-purple: #37005E;
$black: #000000;


// Typography
$font-family: 'Montserrat Alternates', sans-serif;

// Spacing
$space-xxs: 5px;
$space-xs: 10px;
$space-s: 20px;
$space-ss: 30px;
$space-m: 40px;
$space-mm: 50px;
$space-l: 60px;
$space-xl: 80px;
$space-xxl: 100px;
$space-xxxl: 120px;
$space-xxxxl: 140px;
$space-xxxxxl: 160px;
$space-xxxxxxl: 200px;
$space-xxxxxxxl: 300px;
$space-superxl: 350px;
$space-supersize: 500px;


//Breakpoints
$bp-mobile-small: 330px;
$bp-mobile-large: 500px;
$bp-tablet-portrait: 600px;
$bp-tablet-landscape: 768px;
$bp-desktop: 1024px;
$bp-desktop-m: 1300px;
$bp-desktop-l: 1440px;
$bp-desktop-xl: 1600px;

$bp-custom-1: 890px;
$bp-custom: 1180px;



