@import "../../../scss/variables.scss";

.button--red, .button--green, .button, .button__disabled {
    align-items: center;
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: $white;
    font-family: $font-family;
    font-weight: 500;
}

.button {
    background-color: $purple;
    
    &:hover {
        background-color: $dark-purple;
    }
}

.button--red {
    background-color: $red;

    &:hover {
        background-color: $dark-red;
    }
}

.button--green {
    background-color: $green;
    
    &:hover {
        background-color: $dark-green;
    }
}

.button__disabled{
    background-color: $disabled;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    opacity: .5;
}

.profile__btn {
    &--create, &--update, &--delete {
        @extend .m-r-m;
        display: flex; 
        justify-content: flex-end;

        .content {
            width: 15vw;
        }
    }

    &--wrapper {
        @extend .m-l-xxs;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@include tablet-landscape {
    .profile__btn {
            justify-content: center;
    }
}

@include mobile-large {
    .profile__btn {
        .content {
            width: 30vw;
        }
    }
}