@import '../../../scss/variables.scss';
  
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  background-color: $black;
  opacity: .7;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: 350ms ease-in-out;
  outline: 0;
  
  .modal {    
      margin-left: 45%;
      height: 100%;
      z-index: 11;
      background-color: white;
      position: relative;
      
      &__wrapper__content {
        display: flex;

        &--button {
        @extend .p-ss;
        position: fixed;
        top: 0;
        font-size: $space-m;
        font-weight: 700;
        background-color: transparent;
        color: $black;
        cursor: pointer;
        border: none;
        outline: none;
        transition: all .2s ease-in-out; 
    
        &:hover {
            transform: scale(1.045); 
        }
      }
    }
  }
}

.modal__overlay--accepted {
  height: 100%;
  position: fixed;
  top: 0;
  left: 45%;
  width:100%;
  background-color: $black;
  opacity: 1;
}

.modal__wrapper--updated {
  background-color: transparent;
  height: 100%;

  .modal__wrapper__content {
    position: relative;
    top: 40vh;
    left: 60vw;
    color: white;
    flex-direction: column;
    width: fit-content;
    align-items: center;

    &--img {
      width: $space-xxl;
      height: $space-xxl;
    }
  }
}

@include desktop {
  .modal__overlay--accepted {
    margin-left: 0;
  }
}

@include tablet-portrait {
  .modal__wrapper{
    .modal {
      &__wrapper__content {
        left: 55vw;

        &--button {
          padding: 5px;
        }
      }
    }
  }
}

@include mobile-large {
  .modal__overlay--accepted {
    left: 0;
  }
  .modal__wrapper {
    .modal {
      margin-left: 0;
      
        &__wrapper--updated {
          .modal__wrapper__content{
            left: 25vw;
          }
        }
    }
  }
}

