@import '../../../scss/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;

    &--cards {
        min-height: 100%;
        height: fit-content;
    }
    
    &__footer {
        display: flex;
        align-self: flex-end;
    }
}